@(movie: model.Movie)

@import org.squeryl._
@import org.squeryl.PrimitiveTypeMode._
@import model._

<h1>@movie.title</h1>
<ul>
<h2>Starring</h2>
	@inTransaction{
	@for(actor <- movie.actors) {
	   <li>
	     @actor.name
	￼</li> 
	}}
</ul>
    
